<h1> <%= @player_1_name%> HP is <%= @player_1_hp %></h1>
<h1> <%= @player_2_name%> HP is <%= @player_2_hp %></h1>
<h1> <%= @current_player %>s turn to attack </h1>
 <form action="/attack">
    <input type="submit" value="Attack!" >
  </form>